* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 220ppx;
  border-bottom: 2px solid rgb(0, 53, 0);
}

#headermain {
  width: 1480px;
  height: 80%;
  background-color: white;
  margin: 0 auto;
}

.headerMenu {
  float: right;
  width: 50%;
  height: 50px;
  margin-top: 20px;
}
.headerMenu li {
  float: left;
  font-size: 12px;
}

.header1 {
  width: 100%;
  height: 70%;
}

.header1_1 {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.header1_1 > div:nth-child(1) {
  width: 240px;
}
.header1_1 > div:nth-child(1) > img {
  margin-top: 13px;
}
.header1_1 > div:nth-child(2) {
  width: 50%;
}
.header1_1 > div:nth-child(3) {
  width: 180px;
}

#selcet {
  outline: none;
  border: 0px;
}

.serch {
  width: 80%;
  height: 34px;
  border: 2px solid rgb(0, 53, 0);
  margin-left: 50px;
  margin-top: 25px;
}
.serch .mainserch {
  height: 90%;
  outline: none;
  border: 0px;
}
.serch .btnserch {
  height: 100%;
  width: 15%;
  background-color: rgb(0, 53, 0);
  float: right;
}

.headerSmallimg > div:nth-child(2) {
  display: none;
}
.headerSmallimg > div:nth-child(3) {
  display: none;
}
.headerSmallimg > div:nth-child(4) {
  display: none;
}

#headerMenu2 {
  width: 83%;
  height: 48px;
  margin: 0 auto;
}
#headerMenu2 > ul {
  float: left;
  width: 80%;
  height: 100%;
  margin-left: 150px;
}
#headerMenu2 > ul li {
  width: 100px;
  float: left;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #999;
  text-align: center;
}
#headerMenu2 > ul li a {
  color: rgb(0, 53, 0);
}

#container1Wrap {
  width: 1900px;
  height: 398px;
  background-color: #E5F7EB;
}

.container1 {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.container1 > div {
  width: 33.33%;
  height: 100%;
  background-color: white;
}
.container1 > div:nth-child(2) {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

#container2Wrap {
  width: 1900px;
  margin-top: 70px;
}
#container2Wrap .container2 {
  width: 960px;
  height: 1200px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
#container2Wrap .container2 > div:nth-child(1) {
  font-size: 18px;
  color: #444;
  margin: 20px;
}

.container2box {
  width: 960px;
  height: 250px;
  background-color: rgb(252, 238, 213);
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(214, 214, 214);
}
.container2box > div:nth-child(1) {
  width: 30%;
  height: 100%;
  background-color: rgb(252, 238, 213);
}
.container2box > div:nth-child(1) > img {
  width: 134px;
  height: 194px;
  margin-left: 50px;
  margin-top: 30px;
}
.container2box > div:nth-child(2) {
  width: 90%;
  height: 100%;
  margin-top: 30px;
}

.box2 span {
  color: red;
  font-weight: bolder;
}
.box2 p {
  font-size: 13px;
}

.container2_1 {
  width: 100%;
  height: 712px;
  margin-top: 70px;
}
.container2_1 > div:nth-child(1) {
  margin: 0 auto;
  height: 46px;
  position: relative;
  width: 100%;
}
.container2_1 > div ul li {
  float: left;
  text-align: center;
  width: 238px;
  height: 46px;
  line-height: 40px;
  font-weight: bolder;
  color: #444;
  border: 1px solid #999;
}
.container2_1 > div ul li:nth-child(1) {
  background-color: #E5F7EB;
  border-bottom: 0px;
  border-left: 0px;
}

.container2_1wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
}

.container2_1flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_1flex1 > div {
  width: 25%;
}
.container2_1flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_1flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_1flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.name {
  font-size: 13px;
  color: #999;
  padding: 10px;
}

.container2_1flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_1flex2 > div {
  width: 25%;
}
.container2_1flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_1flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_1flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_2wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_2flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_2flex1 > div {
  width: 25%;
}
.container2_2flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_2flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_2flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_2flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_2flex2 > div {
  width: 25%;
}
.container2_2flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_2flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_2flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_3wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_3flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_3flex1 > div {
  width: 25%;
}
.container2_3flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_3flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_3flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_3flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_3flex2 > div {
  width: 25%;
}
.container2_3flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_3flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_3flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_4wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_4flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_4flex1 > div {
  width: 25%;
}
.container2_4flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_4flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_4flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}

.container2_4flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_4flex2 > div {
  width: 25%;
}
.container2_4flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container2_4flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_4flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}