* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

#bgWrap {
  background-image: url(../img/main/bg02.png);
  height: 3950px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

header {
  width: 100%;
  height: 242px;
  background-color: white;
}

#headermain {
  width: 100%;
  height: 80%;
  background-color: white;
  margin: 0 auto;
}

.headerMenu {
  float: right;
  width: 50%;
  height: 50px;
  margin-top: 20px;
}
.headerMenu li {
  float: left;
  font-size: 12px;
}

.header1 {
  width: 100%;
  height: 70%;
}

.header1_1 {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.header1_1 > div:nth-child(1) {
  width: 240px;
}
.header1_1 > div:nth-child(1) > img {
  margin-top: 13px;
}
.header1_1 > div:nth-child(2) {
  width: 50%;
}
.header1_1 > div:nth-child(3) {
  width: 180px;
}

#selcet {
  outline: none;
  border: 0px;
}

.serch {
  width: 80%;
  height: 34px;
  border: 2px solid rgb(0, 53, 0);
  margin-left: 50px;
  margin-top: 25px;
}
.serch .mainserch {
  height: 90%;
  outline: none;
  border: 0px;
}
.serch .btnserch {
  height: 100%;
  width: 15%;
  background-color: rgb(0, 53, 0);
  float: right;
}

.headerSmallimg > div:nth-child(2) {
  display: none;
}
.headerSmallimg > div:nth-child(3) {
  display: none;
}
.headerSmallimg > div:nth-child(4) {
  display: none;
}

#headerMenu2 {
  width: 1200px;
  height: 48px;
  margin: 0 auto;
}
#headerMenu2 > ul {
  float: left;
  width: 100%;
  height: 100%;
}
#headerMenu2 > ul li {
  width: 98px;
  height: 50px;
  float: left;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #999;
  text-align: center;
  transition: 0.3s ease-in-out;
}
#headerMenu2 > ul li a {
  color: rgb(0, 53, 0);
  font-size: 18px;
}
#headerMenu2 > ul li:hover {
  margin-top: -10px;
  height: 60px;
  background-color: #285a35;
  border: 1px solid #285a35;
}
#headerMenu2 > ul li:hover a {
  color: white;
}

#container1Wrap {
  width: 100%;
  height: 398px;
  background-color: #E5F7EB;
  position: relative;
  z-index: 999;
  border-top: 2px solid rgb(0, 53, 0);
}

.container1 {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
}
.container1 > div {
  width: 33.33%;
  height: 100%;
  background-color: white;
}
.container1 > div:nth-child(2) {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.btnPrev {
  width: 43px;
  height: 80px;
  display: none;
  position: absolute;
  top: 170px;
  border-radius: 0 10px 10px 0;
  transition: 0.5s;
}

.btnNext {
  width: 43px;
  height: 80px;
  display: none;
  position: absolute;
  top: 170px;
  right: 0px;
  border-radius: 10px 0 0 10px;
  transition: 0.5s;
}

#container2Wrap {
  width: 100%;
  margin-top: 70px;
}
#container2Wrap .container2 {
  width: 960px;
  height: 1200px;
  margin: 0 auto;
}
#container2Wrap .container2 > div:nth-child(1) {
  font-size: 18px;
  color: #444;
  margin: 10px;
  font-weight: bolder;
}

.container2box:hover {
  border: 1px solid #999;
}

.container2box {
  width: 960px;
  height: 250px;
  background-color: rgb(252, 238, 213);
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(214, 214, 214);
  position: relative;
  cursor: pointer;
}
.container2box > div:nth-child(1) {
  width: 30%;
  height: 100%;
  background-color: rgb(252, 238, 213);
}
.container2box > div:nth-child(1) > img {
  width: 134px;
  height: 194px;
  margin-left: 50px;
  margin-top: 30px;
}
.container2box > div:nth-child(2) {
  width: 90%;
  height: 100%;
  margin-top: 30px;
}
.container2box .btnNext2 {
  width: 43px;
  height: 80px;
  position: absolute;
  display: none;
  top: 80px;
  right: 0px;
  border-radius: 10px 0 0 10px;
}
.container2box .btnPrev2 {
  width: 43px;
  height: 80px;
  position: absolute;
  display: none;
  top: 80px;
  left: 0px;
  border-radius: 0 10px 10px 0;
}

.box2 span {
  color: red;
  font-weight: bolder;
}
.box2 p {
  font-size: 13px;
}

.container2_1 {
  width: 100%;
  height: 845px;
  margin-top: 70px;
}
.container2_1 > div:nth-child(1) {
  margin: 0 auto;
  height: 46px;
  position: relative;
  width: 100%;
}
.container2_1 > div ul li {
  float: left;
  text-align: center;
  width: 238px;
  height: 46px;
  line-height: 40px;
  font-weight: bolder;
  color: #444;
  border: 1px solid rgb(212, 212, 212);
  transition: all 0.7s;
  cursor: pointer;
}
.container2_1 > div ul li:nth-child(1) {
  background-color: #E5F7EB;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.container2_1 > div ul li:nth-child(2) {
  border-right: 0px;
}
.container2_1 > div ul li:nth-child(3) {
  border-right: 0px;
}

.container2_0wrap {
  width: 100%;
  height: 850px;
  background-color: #E5F7EB;
}

.container2_1wrap {
  width: 100%;
  height: 850px;
  background-color: #E5F7EB;
  display: none;
}

.container2_1flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_1flex1 > div {
  width: 25%;
}
.container2_1flex1 > div > div:nth-child(1) {
  width: 80%;
  margin: 0 auto;
  height: 70%;
  text-align: center;
  cursor: pointer;
}
.container2_1flex1 > div > div:nth-child(1) > h5 {
  margin-top: 10px;
}
.container2_1flex1 > div > div:nth-child(1) > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}
.container2_1flex1 > div > div:nth-child(1) img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}
.container2_1flex1 > div > div:nth-child(2) {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.name {
  font-size: 13px;
  color: #999;
  padding: 10px;
}

.container2_1flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_1flex2 > div {
  width: 25%;
}
.container2_1flex2 > div > div:nth-child(1) {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_1flex2 > div > div:nth-child(1) > h5 {
  margin-top: 10px;
}
.container2_1flex2 > div > div:nth-child(1) > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}
.container2_1flex2 > div > div:nth-child(1) img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 6px 10px 10px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}
.container2_1flex2 > div > div:nth-child(2) {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container2_2wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_2flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_2flex1 > div {
  width: 25%;
}
.container2_2flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_2flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_2flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}
.container2_2flex1 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

.container2_2flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_2flex2 > div {
  width: 25%;
}
.container2_2flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_2flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_2flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}
.container2_2flex2 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

.container2_3wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_3flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_3flex1 > div {
  width: 25%;
}
.container2_3flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_3flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_3flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}
.container2_3flex1 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

.container2_3flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_3flex2 > div {
  width: 25%;
}
.container2_3flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_3flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_3flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
}
.container2_3flex2 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

.container2_4wrap {
  width: 100%;
  height: 800px;
  background-color: #E5F7EB;
  display: none;
}

.container2_4flex1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_4flex1 > div {
  width: 25%;
}
.container2_4flex1 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_4flex1 > div > div > h5 {
  margin-top: 10px;
}
.container2_4flex1 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.container2_4flex1 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

.container2_4flex2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.container2_4flex2 > div {
  width: 25%;
}
.container2_4flex2 > div > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.container2_4flex2 > div > div > h5 {
  margin-top: 10px;
}
.container2_4flex2 > div > div > img {
  margin-top: 30px;
  width: 162px;
  height: 230px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 4px 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.container2_4flex2 > div > div img:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.16), 10px 12px 12px rgba(0, 0, 0, 0.23);
  border: 1px solid #3a804c;
}

#container3wrap {
  width: 100%;
  height: 325px;
}
#container3wrap .container3tit {
  color: #444;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 auto;
  margin-top: 70px;
  width: 960px;
}
#container3wrap .container3 {
  width: 960px;
  height: 280px;
  margin: 0 auto;
  background-color: #E5F7EB;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(214, 214, 214);
}
#container3wrap .container3 > div {
  width: 20%;
}
#container3wrap .container3 > div > div {
  width: 80%;
  margin: 0 auto;
}
#container3wrap .container3 > div > div > img {
  width: 152px;
  height: 226px;
  margin-top: 23px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  cursor: pointer;
}
#container3wrap .container3 > div > div > img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container4tit {
  width: 960px;
  color: #444;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 auto;
  margin-top: 15px;
}

#container4wrap {
  width: 100%;
  height: 282px;
}
#container4wrap .container4 {
  width: 960px;
  height: 282px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(214, 214, 214);
  margin: 0 auto;
  background-color: #E5F7EB;
}
#container4wrap .container4 > div {
  width: 50%;
  height: 100%;
}

.container4flex:nth-child(1) .container4flexboxWrap {
  border-right: 1px solid rgb(231, 231, 231);
}

.container4flex p {
  text-align: center;
  margin-bottom: 10px;
}
.container4flex > div {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  margin-top: 6%;
}

.container4flexboxWrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.container4flexboxWrap img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  cursor: pointer;
}
.container4flexboxWrap img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid #3f9255;
}
.container4flexboxWrap > div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.container4flexboxWrap > div > div {
  width: 100px;
  height: 150px;
  float: left;
  margin: 10px;
}

.container5tit {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#container5wrap {
  width: 100%;
  height: 350px;
}

.contanier5_1 {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 200px;
  background-color: wheat;
  margin: 0 auto;
  transition: all 0.3s;
  margin-top: 3px;
  margin-bottom: 3px;
}
.contanier5_1 > div:nth-child(1) {
  width: 20%;
  height: 100%;
}
.contanier5_1 > div:nth-child(2) {
  width: 80%;
  height: 100%;
}

.contanier5_1:hover {
  box-shadow: 0 0 0 1px #3f9255;
}

.contanier5_1flex1 > div {
  width: 107px;
  height: 160px;
  margin: 16px 0 0 40px;
}
.contanier5_1flex1 > div img:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contanier5_1flex1 img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: 0.3s;
}

.contanier5_2 {
  width: 960px;
  height: 150px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.contanier5_2 h3 {
  font-size: 14px;
  margin-top: 35px;
}
.contanier5_2 p {
  font-size: 13px;
}
.contanier5_2 > div {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.contanier5_2 > div > div:nth-child(1) {
  width: 40%;
  height: 100%;
}
.contanier5_2 > div > div:nth-child(1) img {
  width: 70px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s;
  cursor: pointer;
}
.contanier5_2 > div > div:nth-child(1) img:hover {
  border: 1px solid #999;
}
.contanier5_2 > div > div:nth-child(2) {
  width: 60%;
  height: 100%;
}

.contanier5_1flex2 > div {
  padding: 20px;
}
.contanier5_1flex2 > div p {
  font-size: 13px;
  color: #444;
}
.contanier5_1flex2 > div span {
  color: rgb(194, 3, 3);
  font-weight: bold;
}

.contanier5_2flex2 > div div:nth-child(1) {
  width: 40%;
  height: 100%;
}
.contanier5_2flex2 > div div:nth-child(1) {
  width: 60%;
  height: 100%;
}

.container6tit {
  padding: 10px;
  margin-top: 15px;
}
.container6tit p {
  font-size: 18px;
  font-weight: bold;
}
.container6tit div {
  width: 960px;
  margin: 0 auto;
}

#container6wrap {
  width: 100%;
  height: 460px;
}
#container6wrap .container6:hover {
  border: 1px solid rgb(85, 85, 85);
}
#container6wrap .container6 {
  width: 960px;
  height: 230px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(201, 200, 200);
  transition: 0.3s;
}
#container6wrap .container6 > div:nth-child(1) {
  width: 20%;
  height: 100%;
}
#container6wrap .container6 > div:nth-child(1) > img {
  width: 107px;
  height: 155px;
  margin: 35px 0 0 40px;
}
#container6wrap .container6 > div:nth-child(2) {
  width: 70%;
  height: 100%;
}

.container6_1 {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  height: 136px;
  background-color: white;
}
.container6_1 img {
  width: 70px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s;
  cursor: pointer;
}
.container6_1 img:hover {
  border: 1px solid #999;
}
.container6_1 > div {
  display: flex;
  flex-direction: row;
}
.container6_1 > div > div:nth-child(1) {
  width: 70px;
}
.container6_1 > div > div:nth-child(2) {
  width: 200px;
  margin-left: 20px;
}
.container6_1 > div:nth-child(1) {
  width: 33.33%;
  height: 100%;
}
.container6_1 > div:nth-child(2) {
  width: 33.33%;
  height: 100%;
}
.container6_1 > div:nth-child(3) {
  width: 33.33%;
  height: 100%;
}

.box14 p {
  font-size: 13px;
}
.box14 h3 {
  font-size: 18px;
  margin-top: 33px;
}

.box15_1 p {
  font-size: 13px;
  color: #444;
}
.box15_1 span {
  color: red;
}
.box15_1 h3 {
  margin-top: 25px;
  font-size: 13px;
}

.box15 {
  margin-top: 10px;
}

#container7wrap {
  width: 100%;
  height: 126px;
}

.container7 {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.container7 img {
  cursor: pointer;
}
.container7 > div {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container7 > div > div:nth-child(1) {
  width: 88px;
  height: 87px;
}
.container7 > div > div:nth-child(2) {
  width: 88px;
  height: 26px;
  font-size: 17px;
  color: #3f9255;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}
.container7 > div > div {
  margin: 0 auto;
}

#footerMenuWrap {
  width: 100%;
  height: 52px;
  margin-top: 50px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
#footerMenuWrap ul {
  width: 972px;
  height: 32px;
  margin: 0 auto;
}
#footerMenuWrap ul li {
  float: left;
  padding: 8px 0 6px;
  margin-left: 40px;
  text-align: center;
  font-size: 11px;
}
#footerMenuWrap ul li a {
  color: #444;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 121px;
}
footer .footerbox {
  width: 972px;
  height: 121px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
footer .footerbox > div:nth-child(1) {
  width: 15%;
  height: 100%;
}
footer .footerbox > div:nth-child(1) > img {
  width: 104px;
  height: 79px;
  padding: 20px;
}
footer .footerbox > div:nth-child(2) {
  width: 60%;
  height: 100%;
}
footer .footerbox > div:nth-child(2) > p {
  font-size: 12px;
  color: #555;
  line-height: 20px;
  margin: 20px;
}
footer .footerbox > div:nth-child(3) {
  width: 25%;
  height: 100%;
  margin-top: 10px;
}
footer .footerbox > div:nth-child(3) > div {
  width: 180px;
  height: 44px;
}
footer .footerbox > div:nth-child(3) > div:nth-child(1) {
  background-color: #333333;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  text-align: center;
}
footer .footerbox > div:nth-child(3) > div:nth-child(1) > p {
  font-size: 13px;
  color: white;
}
footer .footerbox > div:nth-child(3) > div:nth-child(1) > span {
  font-size: 18px;
  color: white;
}
footer .footerbox > div:nth-child(3) > div:nth-child(2) {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgb(231, 231, 231);
  margin: 10px;
  text-align: center;
}
footer .footerbox > div:nth-child(3) > div:nth-child(2) > p {
  font-size: 13px;
}