* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 242px;
  background-color: white;
}

#headertop {
  height: 60px;
  background-color: red;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
#headertop img {
  width: 50%;
  height: 100%;
}
#headertop > div:nth-child(1) {
  width: 50%;
  height: 100%;
  background: #f1f0e5;
}
#headertop > div:nth-child(1) > img {
  float: right;
}
#headertop > div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: #5c17b2;
}

#headermain {
  width: 100%;
  height: 80%;
  background-color: white;
  margin: 0 auto;
}

.headerMenu {
  float: right;
  width: 50.1%;
  height: 50px;
  margin-top: 20px;
}
.headerMenu li {
  float: left;
  font-size: 12px;
}

.header1 {
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.header1_1 {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.header1_1 > div:nth-child(1) {
  width: 240px;
}
.header1_1 > div:nth-child(1) > img {
  margin-top: 13px;
}
.header1_1 > div:nth-child(2) {
  width: 50%;
}
.header1_1 > div:nth-child(3) {
  width: 180px;
}

#selcet {
  outline: none;
  border: 0px;
}

.serch {
  width: 80%;
  height: 34px;
  border: 2px solid rgb(0, 53, 0);
  margin-left: 50px;
  margin-top: 25px;
}
.serch .mainserch {
  height: 90%;
  outline: none;
  border: 0px;
}
.serch .btnserch {
  height: 100%;
  width: 15%;
  background-color: rgb(0, 53, 0);
  float: right;
  cursor: pointer;
}
.serch .btnserch img {
  width: 40%;
  height: 50%;
  margin: 9px 0 0 18px;
}

.headerSmallimg {
  position: relative;
}
.headerSmallimg > div:nth-child(2) {
  display: none;
}
.headerSmallimg > div:nth-child(3) {
  display: none;
}
.headerSmallimg > div:nth-child(4) {
  display: none;
}
.headerSmallimg .prev1 {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 90px;
  right: 20px;
  border: 1px solid #d2d2d2;
  text-align: center;
  line-height: 13px;
  color: #999;
  cursor: pointer;
}
.headerSmallimg .next1 {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 90px;
  right: 0px;
  border: 1px solid #d2d2d2;
  text-align: center;
  line-height: 13px;
  color: #999;
  cursor: pointer;
}
.headerSmallimg .imgNumber {
  font-size: 13px;
  color: #777;
  position: absolute;
  top: 90px;
  right: 60px;
}

#headerMenu2 {
  width: 1200px;
  height: 48px;
  margin: 0 auto;
  cursor: pointer;
}
#headerMenu2 > ul {
  float: left;
  width: 100%;
  height: 100%;
}
#headerMenu2 > ul li {
  width: 98px;
  height: 50px;
  float: left;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #999;
  text-align: center;
  transition: 0.3s ease-in-out;
}
#headerMenu2 > ul li a {
  color: rgb(0, 53, 0);
  font-size: 18px;
}
#headerMenu2 > ul li:hover {
  margin-top: -10px;
  height: 60px;
  background-color: #285a35;
  border: 1px solid #285a35;
}
#headerMenu2 > ul li:hover a {
  color: white;
}

#container1Wrap {
  width: 100%;
  height: 500px;
  background-color: white;
  z-index: 999;
  position: relative;
  border-top: 2px solid rgb(0, 53, 0);
}

.fieldSelect {
  width: 960px;
  height: 30px;
  margin: 0 auto;
  padding: 20PX;
}
.fieldSelect select {
  height: 26px;
  color: #505050;
  font-size: 11px;
  text-align: left;
}

.container1 {
  width: 960px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.container1 > div:nth-child(1) {
  width: 200px;
  height: 100%;
}
.container1 > div:nth-child(2) {
  width: 550px;
  height: 400px;
}
.container1 > div:nth-child(3) {
  width: 25%;
  height: 380px;
  background: #f2f2f2;
}

.container1Flex1 {
  text-align: center;
  line-height: 30px;
}
.container1Flex1 a {
  color: #333;
}
.container1Flex1 > div:nth-child(1) {
  width: 200px;
  height: 290px;
}
.container1Flex1 > div:nth-child(2) {
  height: 32px;
  width: 100%;
  border: 1px solid #dcdcdc;
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}
.container1Flex1 > div:nth-child(2):hover {
  color: #295b37;
  border: 1px solid #295b37;
  text-decoration: none;
  zoom: 1;
}
.container1Flex1 > div:nth-child(3) {
  height: 32px;
  width: 100%;
  border: 1px solid #dcdcdc;
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}
.container1Flex1 > div:nth-child(3):hover {
  color: #295b37;
  border: 1px solid #295b37;
  text-decoration: none;
  zoom: 1;
}

.container1Flex2 {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
}
.container1Flex2 > div:nth-child(1) {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #dcdcdc;
  line-height: 20PX;
}
.container1Flex2 > div:nth-child(1) p {
  font-size: 14px;
  color: #7d7d7d;
}
.container1Flex2 > div:nth-child(1) > div:nth-child(1) {
  width: 60px;
  height: 19px;
  border: 1px solid #cccccc;
  color: #666666;
  font-size: 13px;
  padding: 2px;
  margin-bottom: 10px;
  text-align: center;
}
.container1Flex2 > div:nth-child(2) {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #dcdcdc;
}

.container1Flex2 {
  height: 100px;
}

.container1Flex2Box2 {
  line-height: 40px;
  height: 100%;
}
.container1Flex2Box2 p {
  font-size: 15px;
  color: #7d7d7d;
}
.container1Flex2Box2 .sale {
  text-decoration: line-through;
  font-weight: bold;
}
.container1Flex2Box2 .salePrice {
  font-size: 22px;
  font-weight: bold;
  color: #ff0909;
}
.container1Flex2Box2 .slaeper {
  color: #e60012;
  font-weight: bold;
}
.container1Flex2Box2 .juckripPrice {
  color: #666;
  font-weight: bold;
}
.container1Flex2Box2 .schedule {
  color: #da4445;
}
.container1Flex2Box2 .guide1 {
  width: 145px;
  height: 23px;
  font-size: 13px;
  float: left;
  margin-left: 80px;
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 24px;
  color: #666;
  cursor: pointer;
}
.container1Flex2Box2 .guide2 {
  width: 70px;
  height: 23px;
  font-size: 13px;
  float: right;
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 24px;
  margin-right: 160px;
  color: #666;
  cursor: pointer;
}
.container1Flex2Box2 .Coupon {
  width: 76px;
  height: 26px;
  float: right;
  font-size: 14px;
  background: #da4445;
  color: white;
  text-align: center;
  line-height: 25px;
  margin-right: 250px;
  margin-top: 3px;
  cursor: pointer;
}
.container1Flex2Box2 .couponText {
  font-size: 15px;
  color: #777;
}

.container1Flex3Box1 {
  width: 170px;
  height: 44px;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  line-height: 40px;
  margin-top: 30px;
}
.container1Flex3Box1 .orderCount {
  width: 86px;
  height: 26px;
  border: 1px solid #999;
  text-align: right;
}

.container1Flex3Box2 > div {
  width: 170px;
  height: 52px;
  margin: 0 auto;
  text-align: center;
  line-height: 48px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}
.container1Flex3Box2 > div:nth-child(1) {
  background: #da4444;
  color: white;
}
.container1Flex3Box2 > div:nth-child(2) {
  background: #266444;
  color: white;
}
.container1Flex3Box2 > div:nth-child(3) {
  background: #39a875;
  color: white;
}
.container1Flex3Box2 > div:nth-child(4) {
  background-color: white;
  color: #333;
  border: 1px solid #999;
}

.inforWrap {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  height: 31px;
  border-collapse: collapse;
  border-spacing: 0;
}
.inforWrap tr th {
  width: 178px;
  background: #f2f0e9;
  border: 1px solid #dad2c5;
  height: 31px;
  font-size: 12px;
  color: #8e7d73;
}
.inforWrap tr td {
  border: 1px solid #dad2c5;
  padding-left: 3px;
  font-size: 12px;
  color: #897e6e;
}

#container2Wrap {
  width: 100%;
  position: relative;
  height: 400px;
}
#container2Wrap > div {
  margin: 0 auto;
  width: 960px;
  margin-top: 50px;
  height: 100%;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}
#container2Wrap > div > div:nth-child(1) {
  margin: 20px 0 0px 0;
  font-size: 18px;
  font-weight: bold;
}
#container2Wrap > div .container2boxWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
}
#container2Wrap > div .container2boxWrap > div {
  width: 20%;
  height: 100%;
  padding: 20px 0 0 20px;
}
#container2Wrap > div .container2boxWrap > div img {
  width: 140px;
  height: 200px;
  cursor: pointer;
}
#container2Wrap > div .container2boxWrap > div p {
  font-size: 12px;
  color: #8C8C8C;
  margin-top: 10px;
}
#container2Wrap > div .container2boxWrap > div h5:hover {
  color: #3f9255;
  text-decoration: underline;
  cursor: pointer;
}

#container3Wrap {
  margin-top: 30px;
  width: 100%;
  height: 1500px;
}
#container3Wrap .container3 {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#container3Wrap .container3 > div:nth-child(1) {
  width: 720px;
  height: 100%;
}
#container3Wrap .container3 > div:nth-child(2) {
  width: 240px;
}

.container3Flex1 {
  width: 680px;
  padding-right: 20px;
}
.container3Flex1 .ulWrap ul {
  height: 40px;
  border: 1px solid #d2d2d2;
}
.container3Flex1 .ulWrap ul li {
  float: left;
  width: 24.5%;
  height: 40px;
  border-right: 1px solid #d2d2d2;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 40px;
  letter-spacing: -0.75px;
}
.container3Flex1 .ulWrap ul li:last-child {
  border: 0px;
}
.container3Flex1 .wrap1 {
  width: 100%;
}
.container3Flex1 .wrap1 ul li:first-child {
  background: #295B37;
}
.container3Flex1 .wrap1 ul li:first-child > a {
  color: #fff;
}
.container3Flex1 .wrap2 ul li:nth-child(2) {
  background: #295B37;
}
.container3Flex1 .wrap2 ul li:nth-child(2) > a {
  color: #fff;
}
.container3Flex1 .wrap3 {
  margin-top: 80px;
}
.container3Flex1 .wrap3 ul li:nth-child(3) {
  background-color: #295B37;
}
.container3Flex1 .wrap3 ul li:nth-child(3) > a {
  color: #fff;
}

.container3Flex2_1 {
  border: 1px solid #d2d2d2;
}
.container3Flex2_1 img {
  padding: 0px 20px 0 10px;
}
.container3Flex2_1 .con3Box2 {
  margin-left: 20px;
}

.container3Flex2_2 {
  border: 1px solid #d2d2d2;
  margin-top: 20px;
}

.container3Flex2 {
  width: 201px;
  height: 600px;
}
.container3Flex2 > div:nth-child(1) {
  padding-bottom: 20px;
  font-size: 14px;
  color: #333;
}
.container3Flex2 > div:nth-child(1) a {
  font-size: 11px;
  margin-left: 40px;
}
.container3Flex2 > div:nth-child(1) a:hover {
  color: #3f9255;
  text-decoration: underline;
}

.con3BoxWrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.con3BoxWrap > div:nth-child(1) {
  width: 64px;
  height: 94px;
}
.con3BoxWrap > div:nth-child(2) {
  cursor: pointer;
  width: 140px;
  height: 94px;
  padding-left: 10px;
}
.con3BoxWrap > div:nth-child(2) h5 {
  font-size: 12px;
  color: #333;
}
.con3BoxWrap > div:nth-child(2) p {
  font-size: 12px;
  color: #999999;
}

.con3Box1 img {
  width: 64px;
  height: 98px;
  cursor: pointer;
}

.bookInfo1 {
  height: 140px;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.bookInfo2 {
  line-height: 25px;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.bokkInfo3 {
  line-height: 25px;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.container3Flex2_1 > div:nth-child(1) {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}